body {
  font-family: "Lato", sans-serif;
}

.mobile-container {
  padding-top: 56px;
  padding-bottom: 56px;
}

.action-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  max-width: 480px;
  margin: auto;
}

.card-product {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  overflow: hidden;
}

.card-product .card-image {
  background: #eaeaea;
  width: 100%;
  min-height: 150px;
  overflow: hidden;
}

.card-product-detail {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  overflow: hidden;
}

.card-product-detail .card-image {
  background: #eaeaea;
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.card-product-detail .card-image-sm {
  background: #eaeaea;
  width: 23%;
  height: 70px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.card-product-detail .card-image-sm .action {
  opacity: 0.8;
  bottom: 0;
  text-align: center;
  z-index: 10;
  width: 100%;
  height: 20px;
  position: absolute;
}

.card-product-detail .border {
  border: 5px solid #333;
}

.text-heading {
  font-size: 24px;
}

.text-title {
  font-size: 18px;
}

.text-subtitle,
.text-body {
  font-size: 14px;
}

.text-heading,
.text-title,
.text-subtitle {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    overflow: hidden;
  }
}

